.project-image-container {
    width: 400px;
    height: auto;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .project-image:hover {
    transform: scale(1.05);
  }